div#zentai {
	display: grid;
	grid-template-columns: 2fr 2fr; 
	grid-auto-rows: 300px;
	grid-gap: 10px;
	width: 1024px;
}
div#zentai > div {
	padding: 1px;
	background-color: #ffefaf;
}
h1{
    color: white;
    background-color: rgb(46, 10, 248);
}
h2{
    background-color: rgb(169, 232, 255);
}
h3{
    background: linear-gradient(90deg,white, #ffefaf);
}
